/* 样式美化 beautiful.css */

/* 将h1标题的文本颜色改为渐变色 */
.VPDoc h1 {
  background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.VPHero{
  background-image: url('/bg.svg');
  background-size: cover;
}


/* 给首页的 VPFeatures 页卡添加悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}
.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}

/* 美化markdowm语法的箭头引用符号 > */
.vp-doc blockquote {
    font-size: .9rem;
    color: #999;
    border-left: .25rem solid var(--vp-c-green-2);
    background-color: var(--vp-c-gray-soft);
    margin: .5rem 0;
    padding: .25rem 0 .25rem 1rem;
}



