/* 样式美化 beautiful.css */

/* 将h1标题的文本颜色改为渐变色 */
.VPDoc h1 {
  background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 给首页的 VPFeatures 页卡添加悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}
.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}

/* 美化markdowm语法的箭头引用符号 > */
.vp-doc blockquote {
    font-size: .9rem;
    color: #999;
    border-left: .25rem solid var(--vp-c-green-2);
    background-color: var(--vp-c-gray-soft);
    margin: .5rem 0;
    padding: .25rem 0 .25rem 1rem;
}



/* 页面的滚动条样式美化 */
/* 全局滚动条基础样式（适用于主内容区） */
::-webkit-scrollbar {
  width: 3px; /* 垂直滚动条宽度 */
  height: 3px; /* 水平滚动条高度 */
}
/* 滚动条轨道背景 */
::-webkit-scrollbar-track {
  background: #f5f5f5; /* 轨道背景色 */
  border-radius: 4px; /* 轨道圆角 */
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #3eaf7c; /* 滑块颜色 */
  border-radius: 4px; /* 滑块圆角 */
  transition: background 0.3s;
}
/* 滑块悬停时颜色加深 */
::-webkit-scrollbar-thumb:hover {
  background: #e74c3c;
}


